.signupSubcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #303030;
    height: 100vh;
    padding: 0 3rem;
}
.header{
    margin-bottom: 3rem;
}
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #303030;
    gap: 0.5rem;
}
.input {
    background: transparent;
    border-radius: 0.2rem;
    color: inherit;
    font: inherit;
    border: 1px solid
}
.success {
    color: rgb(9, 241, 9);
    margin-bottom: 0.5rem;
}
.button {
    background: blue;
    color: inherit;
    font: inherit;
    border-radius: 0.2rem;
    padding: 0.3rem 0;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
}
.link {
    color: inherit;
    text-decoration: underline;
}
