.loginSubcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #303030;
    height: 100vh;
    padding: 0 3rem;    /* margin: auto */

}
.header {
    margin-bottom: 2rem;
}
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #303030;
    gap: 0.5rem;
}
.failure {
    color: rgb(255, 66, 41);
    margin-bottom: 0.5rem;
}
.input {
    background: transparent;
    border-radius: 0.2rem;
    color: inherit;
    font: inherit;
    border: 1px solid   
}
.button {
    background: blue;
    color: inherit;
    font: inherit;
    border-radius: 0.2rem;
    padding: 0.3rem 0;
    border: none;
    cursor: pointer;
    margin: 1rem 0;
}
.link {
    color: inherit;
    text-decoration: underline;
}