@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
body {
    font-family: 'Quicksand', 'Poppins', Georgia, 'Times New Roman', serif;
    font-size: 16px;
    background: #1f1f1f;
    height: 100vh;
    width: 100vw;
    color: #FFFFFF;
}
.mainContainer {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 0.5fr 10fr; 
}
.activeBackground {
    background: #1f1f1f;
}
.inactiveBackground {
    background: #1f1f1f;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;;
}
@media screen and (max-width: 900px) {
    .inactiveBackground {
        background: #161616;
    }
    .activeBackground {
        background: #1f1f1f; 
    }
}
@media screen and (max-width: 415px) {
    body {
        font-size: 13px;
    }
}



/* space out navbar better
add user?
fix login styling and add validation
 can i make screen inactive so no interction is possible?
 have nav close when list selected */
