.editInput {
    border: none;
    background: transparent;
    padding: 0;
}

/* input {
    border: 1px solid blue;
    display: inline-block;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    width: 2em;
    line-height: inherit;
    vertical-align: inherit;
    text-align: right;
    color: inherit;
    font: inherit;
    background: none;
} */